.responsive-img {
    width: 100%;
    height: auto;
}

@media (min-width: 1024px) { /* Desktop */
    .responsive-img {
        width: auto; /* Use natural width */
        max-height: 100vh; /* Fit top and bottom edges of the browser */
        display: block;
        margin: auto; /* Center the image */
    }
}

@keyframes easeIn {
    0% {
        opacity: 0;
        transform: scale(0.9); /* Slightly smaller at start */
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Full size at the end */
    }
}
